In [24]:
import pandas as pd
import numpy as np 
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

## READ DATA

In [26]:
df1 = pd.read_csv('D:\study\TTCS\Data\Total.csv', encoding='latin1')
df1.head()

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\quynh\AppData\Local\Temp\ipykernel_20944\835435763.py:1: SyntaxWarning: invalid escape sequence '\s'
  df1 = pd.read_csv('D:\study\TTCS\Data\Total.csv', encoding='latin1')

,STT,Country,Continents,Rate of users\nInternet (%),Mobile device usage (%),Revenue of e-commerce platforms (billion USD),Revenue of IT industry (billion USD),Funding in digital infrastructure (billion USD),Foreign investment capital (million USD),CREDIT and BANKING digital transformation ratio(%),Number of Enterprises Applying Digital Transformation (bussiness),Economic Growth Rate of Education (% GDP),Number of technology start up businesses,Year
0,1,Algeria,Africa,22.0,98.0,0.60,0.85,0.10,-0.54,0.0,"15,000",4.2,850,2015
1,2,Angola,Africa,18.0,49.0,0.30,0.38,0.10,10.03,0.0,"20,000",3.6,200,2015
2,3,Benin,Africa,15.0,61.2,0.15,0.08,0.11,0.15,0.0,"12,000",3.6,90,2015
3,4,Botswana,Africa,24.0,80.0,0.25,0.22,0.08,0.38,0.0,"22,000",6.1,300,2015
4,5,Burkina Faso,Africa,5.5,71.0,0.12,0.11,0.07,0.23,0.0,"10,000",4.1,65,2015

In [27]:
df1.shape

(1280, 14)

In [28]:
df1.columns

Index(['STT', 'Country', 'Continents', 'Rate of users\nInternet (%)',
       'Mobile device usage (%)',
       'Revenue of e-commerce platforms (billion USD)',
       'Revenue of IT industry (billion USD)',
       'Funding in digital infrastructure (billion USD)',
       'Foreign investment capital (million USD)',
       'CREDIT and BANKING digital transformation ratio(%)',
       ' Number of Enterprises Applying Digital Transformation (bussiness) ',
       'Economic Growth Rate of Education (% GDP)',
       ' Number of technology start up businesses ', 'Year'],
      dtype='object')

In [29]:
df1['Country'].unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Burundi', 'Cabo Verde (Cape Verde)', 'Cameroon',
       'Central African Republic', 'Chad', 'Comoros',
       'Congo, Democratic Republic of the (DR Congo)',
       'Congo, Republic of the (Republic of the Congo)', 'Djibouti',
       'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini (Swaziland)',
       'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau',
       "Ivory Coast (Côte d'Ivoire)", 'Kenya', 'Lesotho', 'Liberia',
       'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania',
       'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe', 'Canada',
       'The United States', 'Mexico', 'Belize', 'Costa Rica',
       'El Salvador', 'Guatemala', 'Honduras', 'Nicaragua', 'Panama',
       'Antigua and Barbuda', 'Bahamas', 'Barbados', 'Cuba', 'Dominica',
       'Dominican Republic', 'Grenada', 'Haiti', 'Jamaica',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and Grenadines', 'Trinidad and Tobago', 'Argentina',
       'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana',
       'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela', 'The UK',
       'France', 'Spain', 'Albania', 'Austria', 'Belarus', 'Belgium',
       'Bulgaria', 'Croatia', 'Czech Republic', 'Denmark', 'Estonia',
       'Germany', 'Greece', 'Hungary', 'Italy', 'Luxembourg',
       'Netherlands', 'Bac Macedonia', 'China', 'Japan', 'South Korea',
       'India', 'Qatar', 'Saudi Arabia', 'Iran', 'Iraq', 'Nepal', 'Syria',
       'Jordan', 'Israel', 'Palestine', 'Türkiye', 'Sri Lanka',
       'Uzbekistan', 'Bahrain', 'Oman', 'Singapore', 'VietNam'],
      dtype=object)

In [30]:
df1['Country'].value_counts()

Country
Algeria       10
Angola        10
Belarus       10
Austria       10
Albania       10
              ..
Niger         10
Namibia       10
Mozambique    10
Morocco       10
VietNam       10
Name: count, Length: 128, dtype: int64

## Data cleanning

In [32]:
df2 = df1.drop('STT', axis='columns')
df2.head()

,Country,Continents,Rate of users\nInternet (%),Mobile device usage (%),Revenue of e-commerce platforms (billion USD),Revenue of IT industry (billion USD),Funding in digital infrastructure (billion USD),Foreign investment capital (million USD),CREDIT and BANKING digital transformation ratio(%),Number of Enterprises Applying Digital Transformation (bussiness),Economic Growth Rate of Education (% GDP),Number of technology start up businesses,Year
0,Algeria,Africa,22.0,98.0,0.60,0.85,0.10,-0.54,0.0,"15,000",4.2,850,2015
1,Angola,Africa,18.0,49.0,0.30,0.38,0.10,10.03,0.0,"20,000",3.6,200,2015
2,Benin,Africa,15.0,61.2,0.15,0.08,0.11,0.15,0.0,"12,000",3.6,90,2015
3,Botswana,Africa,24.0,80.0,0.25,0.22,0.08,0.38,0.0,"22,000",6.1,300,2015
4,Burkina Faso,Africa,5.5,71.0,0.12,0.11,0.07,0.23,0.0,"10,000",4.1,65,2015

In [33]:
#check null 
null_values = df2.isnull().sum()

# Value = 0
zero_values = (df2 == 0).sum()

print("The numbers is null:\n", null_values)
print("\n Equal 0 :\n", zero_values)

The numbers is null:
 Country                                                                0
Continents                                                             0
Rate of users\nInternet (%)                                            0
Mobile device usage (%)                                                0
Revenue of e-commerce platforms (billion USD)                          0
Revenue of IT industry (billion USD)                                   0
Funding in digital infrastructure (billion USD)                        0
Foreign investment capital (million USD)                               0
CREDIT and BANKING digital transformation ratio(%)                     0
 Number of Enterprises Applying Digital Transformation (bussiness)     0
Economic Growth Rate of Education (% GDP)                              0
 Number of technology start up businesses                              0
Year                                                                   0
dtype: int64

 Equal 0 :
 Country                                                                  0
Continents                                                               0
Rate of users\nInternet (%)                                              0
Mobile device usage (%)                                                  0
Revenue of e-commerce platforms (billion USD)                            1
Revenue of IT industry (billion USD)                                    20
Funding in digital infrastructure (billion USD)                         74
Foreign investment capital (million USD)                                47
CREDIT and BANKING digital transformation ratio(%)                     325
 Number of Enterprises Applying Digital Transformation (bussiness)       0
Economic Growth Rate of Education (% GDP)                                0
 Number of technology start up businesses                                0
Year                                                                     0
dtype: int64

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# Assuming 'df2' is your cleaned dataframe and you want to predict a target variable 'actual_target_column_name'
# Replace 'actual_target_column_name' with the actual name of your target column

# Define features and target
X = df2.drop('actual_target_column_name', axis=1)  # Changed 'target_column' to 'actual_target_column_name'
y = df2['actual_target_column_name']  # Changed 'target_column' to 'actual_target_column_name'

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Initialize the KNN classifier
knn = KNeighborsClassifier(n_neighbors=5)

# Train the model
knn.fit(X_train, y_train)

# Make predictions
y_pred = knn.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy}')

KeyError: "['actual_target_column_name'] not found in axis"